<%= form_for @request, :html => {:class => 'input_form'} do |f| %>  
  <%= f.fields_for :information do |inf| %>
    <div class="field_block">  
      <%= inf.label :city, t(:city, :scope => Request::T_INF_SCOPE) %>
      <%= inf.text_field :city %>
    </div>
    
    <div class="field_block">  
      <%= inf.label :floor, t(:floor, :scope => Request::T_INF_SCOPE) %>
      <%= inf.text_field :floor %>
    </div>
    
    <div class="field_block">  
      <%= inf.label :street, t(:street, :scope => Request::T_INF_SCOPE) %>
      <%= inf.text_field :street %>
    </div>
    
    <div class="field_block">  
      <%= inf.label :goal, t(:goal, :scope => Request::T_INF_SCOPE) %>
      <%= inf.select :goal, Request::GOALS.map{ |a| [t(a, :scope => Request::T_GOA_SCOPE), a]}, {:include_blank => true} %>
    </div>
    
    <div class="field_block">  
      <%= inf.label :house, t(:house, :scope => Request::T_INF_SCOPE) %>
      <%= inf.text_field :house %>
    </div>
    
    <div class="field_block">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    
    <div class="field_block">  
      <%= inf.label :rooms, t(:rooms, :scope => Request::T_INF_SCOPE) %>
      <%= inf.text_field :rooms %>
    </div>
    
    <div class="field_block">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  
    <div class="field_block">  
      <%= inf.label :area, t(:street, :scope => Request::T_INF_SCOPE) %>
      <%= inf.text_field :area %>
    </div>
    
    <div class="field_block">
      <%= f.label :full_name %>
      <%= f.text_field :full_name %>    
    </div>
    
    <div class="field_block large">
      <%= inf.label :other_info, t(:other_info, :scope => Request::T_INF_SCOPE) %>
      <%= inf.text_area :other_info %>
    </div>    
  <% end %>

  <div class="field_block large">
    <%= f.submit "Отправить", :class => 'button' %>
  </div>
<% end %>
  
