<% current_good_path = good_path(:path => @category.url_path, :id => good.id, :filter => params[:filter]) -%>

<div class="event good <%= good.has_image? ? ' with-image' : '' %><%= good.extra_images.count > 0 ? ' with-extra-images' : '' %>">  
  <div class="short-text">
    <%= render :partial => 'good_images', :locals => {:good => good, :limit => 3}%>
    <%= render :partial => 'good_description', :locals => {:good => good, :show_parameters => false}%>    
    
    <div class="read-full go-to-good">
      <%= link_to "подробнее", current_good_path %> &rsaquo;
    </div>
  </div>
</div>

<hr/>
