<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>    
  <%= display_meta_tags :site => 'Король Артур и Камелот' %>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" href="<%= image_path 'site/favicon.ico' %>" type="image/x-icon">
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_tag do %>
    <%= yield :page_javascript %>
  <% end %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
  <div id="wrapper">        
    <div id="container" class="container">
      <div id="castle"></div>    
    
    	<div id="header"></div>

    	<div id="content-container">
    	  <div id="left-inner-shadow"></div>
        <div id="right-inner-shadow"></div>
        <div id="left-content-border"></div>          
        <div id="right-content-border"></div>
        <div id="top-content-border"></div>
  	  
      	<div id="sidebar">
      	  <div id="navigation">
      	    <div id="navigation-top"></div>
    	    
        		<ul>
              <% StaticPage.site_roots.navigation.each do |page| -%>
              <li>
                <%= link_to page.title, static_page(page), :class => (page == @page ? 'selected' : '') %>
              </li>
              <% end -%>
        		</ul>
      		
        		<div id="navigation-bottom"></div>
        	</div>
      	
        	<div id="form-buttons">
        	  <%= button_to "Оставить заявку", new_request_path, :method => :get, :id => "left-order-button"%>
        	  <%= button_to "Экспресс оценка недвижимости", express_requests_path, :method => :get, :id => "express-pricing-button"%>
        	  <input type="button" value="Купить жилье по ипотеке" id="ipoteka-button">
        	</div>
      	</div>
  	  
      	<div id="content">
    		  <%= yield %>
      	</div>
    	
      	<div class="clearfix"></div>
    	</div>
    
    	<div class="clearfix"></div>
    </div>
  
    <div id="footer">
      <div class="container">
        <div class="column-2 footer-content">
          <h2>Контакты</h2>
        
          <p>
            ООО Агенство Недвижимости<br>
            “Король Артур и Камелот”<br>
            м. Бауманская<br>
            ул. Бакунинская, д.14, стр.1, этаж 3, офис 8<br>
            тел. : +7 (495) 514 - 76 - 13<br>
            e-mail: i4035503i@mail.ru<br>
          </p>
        </div>
        <div class="column-2">
        </div>
      </div>
		
  		<div id="copyright">
  		  <div class="container">
  		    <p>
  		      ООО Агентство Недвижимости &quot;Король Артур и Камелот&quot; м. Бауманская,
  		    </p>
  		    <p>
  		      ул. Бакунинская, д. 14, стр. 1, этаж 3, офис 8
  		      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		      email: i4035503@mail.com
  		    </p>
  		  </div>
  		</div>
  	</div>
  </div>

  <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  
</body>
</html>
